*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    color: #293462;
}
body{
    background-color: #fcfcfc;
    padding: 10px;
}
.wayup{
    font-size: medium;
    text-transform: uppercase;
}
.tutorial{
    font-size: xx-large;
    text-transform: uppercase;
}
.begin-end{
    font-size: medium;
    text-transform: uppercase;
}
.axis-box{
    position: relative;
    top: 10px;
    
    background-color: #B8FFF9;
    
    height: 440px;
    width: 840px;
    border: 20px solid #fcfcfc;
}
.begin-end:nth-child(1){
    position: absolute;
    right: -140px;
    bottom: 45px;
    transform: rotate(300grad);
}
.begin-end:nth-child(2){
    position: absolute;
    right: 300px;
    bottom: -75px;
}
.begin-end:nth-child(3){
    position: absolute;
    left: -20px;
    bottom: -75px;  
}
.begin-end:nth-child(4){
    position: absolute;
    left: -120px;
    bottom: 45px;
    transform: rotate(300grad);
}
.Axis{
    border-bottom: 1px solid #42C2FF;
}
.transform{
    position: absolute;
    right: -50px;
    bottom: 150px;
    transform: rotate(300grad);
}
.korobka{
position: relative;
top: 40px;
left: 50px;
width: 600px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-content: space-between;
}
.flex-box{
    height: 150px;
    width: 150px;
    background-color: #fcfcfc;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-left: none;

    padding: 70px 0 70px 25px;
    font-size: small;
}
.properties-title{
    font-size: xx-large;
    text-transform: uppercase;
    padding-top: 100px;
}
.properties{
    background-color: antiquewhite;
    display: flex;
    align-content: space-between;
}
.properties-text{
    display: flex;
    align-content: space-between;

    height: 300px;
    width: 600px;
}
.num{
    margin-top: 40px;

    height: 60px;
    background-color: #B8FFF9;
    display: inline-block;
}

.text1{
    margin-bottom: 5px;
    font-size: x-large;
}
.block1{
    font-size: large;
}
.container{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.properties-img{
    width: 60%;
}
.img-block{
    margin-top: 30px;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
}
.img{
    width: 300px;
    height: 80px;
    background-color: #B8FFF9;
    padding: 15px;
    display: flex;

}
.block{
    border: 1px solid black;
    margin-left: 15px;
height: 50px;
width: 40px;
background-color: #fcfcfc;

}
.text2{
    padding: 30px;
    font-size: larger;
    display: inline-block;
}
.img2{
    display: inline-flex;
}
.img3{
    display: flex;
    flex-direction: row;
}
.img4{
    display: flex;
    flex-direction: row-reverse;
}
.img5{
    width: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.column{
    margin: 5px;
}
.img6{
    width: 80px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
}
.img-block-column{
    margin-top: 20px; 
}
.text2-column{
    padding: 5px;
}
.img7{
flex-wrap: nowrap;
}
.img8{
height: 160px;
flex-wrap: wrap;
}
.img9{
    height: 160px;
    flex-wrap: wrap-reverse;
}
.img10{
    justify-content: flex-start;
}
.img11{
    justify-content: flex-end;
}
.img12{
    justify-content: center;
}
.img13{
    justify-content: space-between;
}
.img14{
    justify-content: space-around;
}
.properties-img2{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
.img15{
    align-items: stretch;
}
.img16{
    align-items: flex-start;
}
.img17{
    align-items: flex-end;
}
.img18{
    align-items: center;
}
.img19{
    align-items: baseline;
}
.block3{
    height: 30px;
    width: 20px;
    padding: 0;
    margin: 2px;
    font-size: 10px;
}
.block3-1{
    height: max-content;
    width: max-content;
    margin: 5px;
    font-size: 40px;
}
.block3-2{
    margin: 5px;
    font-size: 20px;
}
.block3-3{
    margin: 5px;
    font-size: 10px;
}
.block3-4{
    margin: 5px;
    font-size: 30px;
}
.img20{
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    width: 120px;
    align-content: stretch;
}
.img21{
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    width: 120px;
    align-content: flex-start;
}
.img22{
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    width: 120px;
    align-content: flex-end;
}
.img23{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 120px;
    align-content: center;
}
.img24{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 500px;
    align-content: space-between;
}
.block3-small{
    width: 16px;
    height: 16px;
    margin: 5px;
    padding: 10px;
}
.block3-5{
    margin: 0;
    font-size: 50px;
}
.font-size-1{
    font-size: smaller;
}
.font-size-2{
    font-size: xx-small;
}
.font-size-3{
    font-size: x-small;
}
.font-size-4{
    font-size: large;
}
.font-size-5{
    font-size: larger;
}
.font-size-6{
    font-size: xx-large;
    height: 70px;
    width: 60px;
}
.img25{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 500px;
    align-content: space-around;
}

.block-order3{
    order: -2;
}
.block-grow1{
    flex-grow: 1;
}

.block-grow3{
    flex-grow: 3;
}
.shrink1{
    padding: 0;
    height: 20px;
    width: 30px;

    flex-shrink: 1;
}

.shrink3{
    padding: 0;
    height: 20px;
    width: 30px;

    flex-shrink: 0;
}
.img27{
    width: 400px;
}
.img28{
    width: 220px;
}
.basis1{
    flex-basis: auto;
}
.basis2{
    flex-basis: 70px;
}
.img29{
    width: 400px;
}
.flex-start{
    padding: 0;
align-self: flex-start;
height: 30px;
width: 30px;
}
.flex-end{
    padding: 0;
    align-self: flex-end;  
    height: 30px;
    width: 30px; 
}
.img30{
    margin: 5px;
    padding: 5px;
    justify-content: space-around;
}
.basis-bottom{
    padding-top: 5px;
    
    position: relative;
    left: 80px;
}
.basis-top{
    padding-bottom: 5px;
}